/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
}

.main-heading {
  font-family: "Roboto";
  color: #0f172a;
}

.card-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cffafe;
}

.profile-image {
  width: 50px;
  margin: 12px;
}
